*.json
/api_based_pipeline/__pycache__
# Docker runtime data
pgadmin_data/
steam_reviews_postgres_data/
__pycache__/
*.pyc
*.env
logs/
airflow.cfg
airflow.db
webserver_config.py
config/secrets/
*.log
config/